.header{
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 222, 222);
    z-index: 100;
}
.left-section{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.middle-section{
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
.right-section{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.search-button{
    height: 40px;
    width: 60px;
    background-color: rgb(247, 247, 247);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(185, 183, 183);
    border-radius: 2px;
    margin-left: -1.8px;
}
.search-button,
.voice-search-button,
.upload-container,
.notifications-container,
.youtube-apps-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-container .tooltip,
.notifications-container .tooltip,
.youtube-apps-container .tooltip{
    background-color: gray;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    border-radius: 2px;
    position: absolute;
    bottom: -35px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-container:hover .tooltip,
.notifications-container:hover .tooltip,
.youtube-apps-container:hover .tooltip{
    opacity: 1;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    background-color: rgb(247, 247, 247);
    margin-left: 10px;
    border: none;
    border-radius: 50%;
}
.search-icon{
    
    height: 24px;
}
.voice-search-icon{
    
    height: 24px;
}
.search-bar{
    flex: 1;
    height: 36px;
    width: 0;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(185, 183, 183);
    border-radius: 2px;
    font-size: 16px;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.06);
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.upload-pic,
.youtube-apps-pic,
.notifications-pic{
    height: 24px;
}
.upload-pic{
    margin-right: 24px;
}
.youtube-apps-pic
{
    margin-right: 24px;
}
.notifications-pic{
    margin-right: 24px;
}
.user-pic{
    height: 32px;
    aspect-ratio: 32/32;
    width: 32px;
    object-fit: cover;
    margin-right: 24px;
    border-radius: 50%;
}
.notifications-count{
    background-color: rgb(204, 0, 0);
    color: white;
    font-family: Roboto, Arial;
    font-size: 10px;
    position: absolute;
    top: -1.5px;
    right:19px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    
}